body {
  font-family: "Jockey One", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px;
}

/*Centrera formuläret*/
.flex-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-ansökan {
  width: 70%;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}

form {
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  border: #a16b35 solid 4px;
  display: flex;
  flex-direction: column;
  background-color: #dbcd7c;
}
article {
  margin-bottom: 60vh;
}

input {
  border-radius: 5px;
  border: #a16b35 solid 2px;
  margin: 10px;
  height: 4vh;
  padding: 10px;
  font-size: large;
}

#age {
  width: 100px;
  transform: translateX(130px);
}
#CV {
  border: none;
}

label#birthday {
  margin-left: 10px;
}

#submit {
  border-radius: 10px;
  width: 30vw;
  height: 5vh;
  border: #a16b35 2px solid;
}
#submit:hover {
  transition: 40ms;
  transform: scale(1.02);
}

@media (min-width: 896px) {
  form {
    width: 40%;
  }
}
