@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jockey One", sans-serif;
}

body {
  background-color: #f0f0f0;
}
html {
  scroll-behavior: smooth;
}

header {
  height: 400px;
}
a#plats {
  text-decoration: none;
}
/*Positionera huvudbilden*/
div#main-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../Bilder/New_main_img2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Förstora lggan i huvudbilden*/
#size-img {
  width: 200px;
}
div#main-page h1 {
  -webkit-text-stroke: 0.3px black;
  width: 70%;
  color: rgb(255, 255, 255);
}

h2 {
  color: white;
}

nav {
  background-color: #dbcd7c;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
/**/
.navbar {
  top: 0;
  z-index: 6;
  position: sticky;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
/**/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
/*ByggBoom texten öppe till vänster*/
.nav-branding {
  font-size: 2rem;
}
.nav-link {
  font-size: x-large;
  transition: 0.4s ease;
}

.nav-link:hover {
  color: #db4646;
}

.hamburger {
  display: none;
  cursor: pointer;
}
/*De 3 svarta linjer som formar krysset*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}
/*Titeln Om oss och Tjänster*/
div.title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #a16b35;
  height: 50px;
}
/*Använder flexwrap för att få varje kort att gå vidare till nästa sida då skärmstorleken äkar*/
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*Fixa själva kortet*/
.card {
  width: 400px;
  background-color: #dbcd7c;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 24px;
}
/*Storleken på bilderna*/
.card img {
  width: 100%;
  height: 55%;
  border-radius: 5px;
}
.card-content {
  padding: 16px;
}
/*Fixa texten i kortet*/
.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content p {
  font-size: 20px;
  line-height: 1.3;
}
/*fixa upplägg av knappen och det innuti*/
.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}
.btn:hover {
  transform: scale(1.03);
}
/*Gör prefixen i korten guldfärgade: Re, Off och Om*/
.gold-colortext {
  color: #7b7122;
}

/*Positionera och forma "Säkerhet och arbetarvillkor"*/
article {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
}

/*Titeln "Arbetarvillkor" och "Trygghet och säkerhet"*/
div.top-plank {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #333;
  border-radius: 5px;
}
div.top-plank h2 {
  color: white;
}

/*Plank och name ID:s används för att positionera och rotera texten och den svarta plankan*/
div#plank-arbetsvillkor {
  transform: rotate(1.2deg);
}
div#plank-trygghet {
  transform: rotate(-2.2deg);
}
/*vinkla tillbaka texten*/
div#name-arbetsvillkor {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: rotate(-1.2deg);
}
div#name-trygghet {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: rotate(2.2deg);
}

/*bilder för om oss delen*/
div#arbetsvillkor-image {
  background-image: url("../Bilder/PointingOutToWindowNew.jpg");
}
div#säkerhet-image {
  background-image: url("../Bilder/SecurtiyLiscense.webp");
}
/*Själva innehållet i arbtesvillkor och trygghet och säkerhet*/
div.bottom-part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 30px;
  color: white;
}

/*används för att skapa ett tunt svart filter över bilderna´*/
div.filter {
  position: absolute;
  inset: 0;
  filter: brightness(60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*positionera informationen i mitten av diven, heter detta för att informationen placeras till höger*/
div.place-right {
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
}
div.bottom-part h3 {
  width: 80%;
  margin-top: 70px;
}

/*placera texten över backgrundsbilden*/
h3 {
  z-index: 2;
}

footer {
  background-color: #333;
  border-radius: 10px;
}

/*Centrera Kontakta oss titeln*/
div#kontakta {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
}
/*tillbaka knappen*/
div#move-right {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
/*placera informationen verticalt*/

#information-left {
  visibility: hidden;
  position: absolute;
}

/*Positionera all information under kontakta oss och under information för surfplatta*/
li.information {
  display: flex;
  align-items: center;
}
.information a {
  color: white;
  text-decoration: underline;
}
.information a:hover {
  transition: 7ms;
  color: #d6c863;
}

/*Skapa en grid för att positionera som sedan används för surfplattan*/
ul#footer-information {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 4vh;
  color: white;
}
/*Positionera sociala medier till höger*/
#flex-parent {
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
div.social img:hover {
  transform: scale(1.03);
}
ul#sponsors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Tar bort dropdown menyn*/
@media (max-width: 896px) {
  .hamburger {
    display: block;
  }
  /*Skapa ett X vid dropdown menyn när man trycker på det*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /*Dropdownmenyn syns alltid hur långt man skorllar*/
  /*Positionera menyn utanför skärmen för att sedan flyttas in knappen trycks*/
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #d6c863;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

@media screen and (min-width: 896px) {
  /*Ta bort filtret och minska dimensionerna*/
  div.filter {
    filter: brightness(100%);
    width: 40%;
    margin: 10px;
    height: 90%;
    border-radius: 5px;
  }
  div#säkerhet-image {
    right: 0; /*för att skriva över inset 0*/
    left: auto;
    width: 40%;
    height: 90%;
  }

  /*Skapa en gul ruta runt säkerhet och arbetarvillkoren */
  div#surfplatta {
    background-color: #d6c863;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  /*Placera bilden*/
  .place-right {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 60%;
    color: #333;
  }
  /*placera text till vänster*/
  div#surfplatta-right {
    background-color: #d6c863;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  /*Visa den nya texten "Information" för surfplatta*/
  #information-left {
    visibility: visible;
    margin-left: 10px;
  }
  /*Skapa två kolumner för att fylla upp mer av footern*/
  #footer-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /*Gör footern lite mindre för att matcha det ökade uttrymmet av en surfplatta och PC*/
  #make-smaller {
    height: 200px;
  }
  /*Positionera de element under Kontaka oss till vänster*/
  .tablett {
    transform: translateX(-85px);
  }
  /*Placera sociala medier i mitten av footern*/
  #flex-parent {
    justify-content: center;
  }
  .socials {
    width: 25%;
  }
  .nav-link {
    font-size: large;
  }
}
