/*Gör det lättare att kontrollera layouten, alla element följer samma regler*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.underline {
  color: rgb(184, 47, 70);
  text-decoration: underline;
}
#om-oss {
  margin-top: 20px;
}

article {
  width: 100%;
}

footer {
  width: 100%;
  margin-top: 20vh;
}
div.title h2 {
  margin-top: 0;
  margin-bottom: 0;
}
/*Placera */
.put-center {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dbcd7c;
}
/*fader element till slidesen, används för att skapa rutan*/
.carousel {
  width: 100vw;
  height: 50vh;
  position: relative;
}
.put-center > h2 {
  color: black;
  z-index: 10;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Varje individuell slide, har opacity noll då den inte är actibe*/
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

/*Display block för att bilden ska fulla sliden*/
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*Visa sliden som är active*/
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

/*Knapparna som ändrar slide*/
.carousel-button {
  display: flex;
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  border: 2px solid #a16b35;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/*Skapa en bakgrund bakom slidern*/
@media (min-width: 896px) {
  section {
    height: 55vh;
    background-color: #dbcd7c;
  }

  #tablett {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #dbcd7c;
  }

  li.slide > img {
    height: 45vh;
    border-radius: 10px;
  }
  .carousel {
    width: 60vw;
  }
}
